<!DOCTYPE html>
<html>
<head>
    <title>Bibot Example</title>

    <!--               message styles               -->
    <link rel="stylesheet"
          href="https://res.cloudinary.com/dclfeq8cv/raw/upload//examples/style/message_style.css">
    <!--               message styles               -->

</head>
<body>
{% if messages %}
    <ul class="back_messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form action="" method="POST">
    <div class="bibot-captcha" data-sitekey="your_site_key" data-callback="bibot_callback"></div>
    <input type="submit" value="Submit">
    {% csrf_token %}
</form>
<script src="https://bibot.ir/bibot.min.js"></script>
<script>
    function bibot_callback(bibot_response){
        alert('bibot-response: ' + bibot_response);
    }
</script>
</body>
</html>