__pycache__/
db.sqlite3
static/media/
.idea/
venv/
**/migrations/
migrations/
*.pyc
*.pyo
*.mo
*~
.coverage
db.sqlite3
uwsgi.ini
log/**
!log/placeholder
**/migrations/**
**/static/media/**
!**/migrations
!**/migrations/__init__.py