<!DOCTYPE html>
<html>
<head>
    <title>Bibot Example</title>

    <!--               message styles               -->
    <link rel="stylesheet" type="text/css"
          href="https://res.cloudinary.com/dclfeq8cv/raw/upload//examples/style/message_style.css">
    <!--               message styles               -->

</head>
<body>
<% if(locals.message ){ %>
    <ul class="back_messages">
        <li class='<%= message_tag %>'> <%= message %>  </li>
    </ul>
<% } %>
<form action="" method="POST">
    <div class="bibot-captcha" data-sitekey="your_site_key" data-callback="bibot_callback"></div>
    <input type="submit" value="Submit">
</form>
<script src="https://bibot.ir/bibot.min.js"></script>
<script>
    function bibot_callback(bibot_response) {
        alert('bibot_callback:\n bibot-response = ' + bibot_response)
    }
</script>
</body>
</html>